.content {
    display: flex;
    flex-direction: column;
}

.divider {
    background-color: (81, 187, 164);
    height: 2rem;
}
header {
  background-color: (81, 187, 164);
}

.nav .btn {
  background-color:#6edfb3; 
}
.bg-gray {
    background-color: #6edfb3;
}

@media screen and (max-width: 960px) {
    #table {
        order: 1;
    }

    #hyperlinks-list {
        order: 2;
    }
}
.even-tr:nth-child(even) {
    background-color: #438697; 
}
