.content {
    display: flex;
    flex-direction: column;
}

.divider {
    background-color: (81, 187, 164);
    height: 2rem;
}

.bg-gray {
    background-color: (81, 187, 164);
}
.even-tr{
    background-color: aquamarine;
}

@media screen and (max-width: 960px) {
    #table {
        order: 1;
    }

    #hyperlinks-list {
        order: 2;
    }
}
.even-tr:nth-child(even) {
    background-color: #f2f2f2; 
}
